/*
p {
    border:8px solid);
    border-style: double;
    border-radius: 15px;
    padding:20px;
    width:700px;
}

.search,
.lucky{
    color: white;
    border-radius: 8px;
    text-shadow 0 1px 1px rgba(0,0,0,0.2);
}

.search{
    background: rgb(66,184,221);
}

.lucky{
    background: rgb(100,100,100);
}
*/

body {
    background-color: azure;
    padding: 10px 20%;
}

.question {
    color: salmon;
    font-size: 24px
}

.answer {
    color: salmon;
    font-size: 48px;
    font-weight: bold;
    margin-top: 40px;
    line-height: 1.4;
}

.long-answer {
    font-size: 24px
}
