{% extends "base.html" %}
{% block content %}
    <br><br><br>

    <center> 
      <font size=32 color="salmon">
	<p>UBER COOL QUERY THING</p>
      </font>
      <form class="pure-form" method="get" action="/search">

	<input class="pure-input-rounded" type="text" size=40 name="query" placeholder="                  What would you like to know?" required></input><br><br>


	<div>
	  <style scoped></style>
	<button class = "grow search pure-button" type="submit" name="submit"><i class = "fa fa-search"></i> Search</button><br><br>
	<!-- if request.args.lucky exists-->
	<button class = "lucky pure-button" type="submit" name="lucky"><i class = "fa fa-arrow-circle-up fa-spin"></i> HAVE FAITH  <i class = "fa fa-arrow-circle-up fa-spin"></i> </button>

	</div>
      </form>
  </center>
{% endblock %}
