{% extends "base.html" %}
{% block content %}
    <br><br><br>

    <center> 
      <font size=32 color="salmon">
	<p><h3>UBER COOL QUERY THING</h3></p>
      </font>
      <form class="pure-form" method="get" action="/search">

	<input class="pure-input-rounded" type="text" size=40 name="query" placeholder="What would you like to know?" required></input><br><br>


	<div>
	  <style scoped>
	  </style>
	<button class = "grow search pure-button" type="submit" name="submit"><i class = "fa fa-search"></i> Search</button><br><br>
	<!-- {{ resultsType }}<br>-->
    <p class="question">{{ searchStr }}</p>
    <p class="answer {$ if results | length > 100 %} long-answer %}">{{ results }}</p>
	
	</div>
      </form>
  </center>
{% endblock %}
