<html>
  
  <body bgcolor='azure'>

    <head>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

      <style>

	p{
	border:8px solid);
	border-style: double;
	border-radius: 15px;
	padding:20px;
	width:700px;
	}
      </style>      
      
    </head>
    
    <br><br><br>

    <center> 
      <font size=32 color="salmon">
	<p>UBER COOL QUERY THING</p>
      </font>
      <form class="pure-form" method="get" action="/search">

	<input class="pure-input-rounded" type="text" size=40 name="input" placeholder="                  What would you like to know?" required></input><br><br>


	<div>
	  <style scoped>
	    .search,
	    .lucky{
	    color: white;
	    border-radius: 8px;
	    text-shadow 0 1px 1px rgba(0,0,0,0.2);
	    }

	    .search{
	    background: rgb(66,184,221);
	    }

	    .lucky{
	    background: rgb(100,100,100);
	    }

	  </style>
	<button class = "grow search pure-button" type="submit" name="submit"><i class = "fa fa-search"></i> Search</button><br><br>
	<!-- if request.args.lucky exists-->
	{{string}}<br>
	Results:<br>
	<!-- just to test if the string passes-->
	
	</div>
      </form>
    </center>
  </body>
</html>
